{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <canvas id="canvas"></canvas>
    <div class="container">
        <div class="icons">
            <div class="icon">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="icon">
                <i class="fa fa-github"></i>
            </div>
            <div class="icon">
                <i class="fa fa-youtube"></i>
            </div>
            <div class="icon">
                <i class="fa fa-facebook"></i>
            </div>
        <div class="tab-content">
            <div class="tab-1 content">
              CAMERA TEST
              <p> hhh </p>
            </div>
            <div class="tab-2 content">
              SECOND TAB
              <div>CONTENT</div>
            </div>
            <div class="tab-3 content">
                <p>
                THIRD TAB
                <div>CONTENT
                        <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/what_is_image_Processing.jpg" alt="alternatetext">
                    </div>
                </p>
              </div>
              <div class="tab-4 content">
                FOURTH TAB
                <p> hhh </p>
                <div>CONTENT
                    <p> hhh </p>
                </div>
              </div>
          </div>
    </div>
</div>
    <script src="{% static 'js/simple-script.js' %}"></script>
</body>

</html>